<header id="header">
    <mat-toolbar>
        <span class="text-3xl font-bold">Craftify</span>
        <span class="spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>account_circle</mat-icon>
        </button>
        <span>
            <a routerLink="/auth/sign-in">sign-in</a>
            /
            <a routerLink="/auth/sign-up">sign-up</a>
            
        </span>
    </mat-toolbar>
</header>