<h1 class="text-5xl text-green-900">Admin</h1>
<h1 class="text-5xl">Dashboard</h1>
{{profileStore.user() | json}}
Token Role:{{tokenService.getUserRole() + ','}}



<app-ui-datatable [data]="data" [columns]="columns"></app-ui-datatable>


<app-ui-upsert-form
[isDetails]="false"
[title]="'User Form'"
[description]="'Please fill out the form below'"
[labels]="['name', 'email']"
[data]="{ name: 'John Doe', email: 'john@example.com', profilePicture: 'https://s3.amazonaws.com/images.wealthyaffiliate.com/uploads/1441732/sitecontent/7a021dbfc309db7dbec17b5ce656cf041533880338_cropped.jpg?1533880350', imageUrls: ['https://s3.amazonaws.com/images.wealthyaffiliate.com/uploads/1441732/sitecontent/7a021dbfc309db7dbec17b5ce656cf041533880338_cropped.jpg?1533880350'] }"
(formSubmit)="handleFormSubmit($event)"
></app-ui-upsert-form>